@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';
.btn {
    @include btn(176px, 42px, 5px, #2563eb);
    color: white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
        transform: scale(1.05);
        background-color: rgba(0, 150, 255, 0.9);
        color: white;
        border: 1px solid rgba(0, 150, 255, 0.9);
    }
}
.otherBtn {
    background-color: $white_color;
    color: $primary_color;
    border: 1px solid $primary_color;
    transition: 0.3s ease;
    &:hover {
        transform: scale(1.05);
        background-color: $primary_color;
        color: $white_color;
    }
}
