@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';
.container {
    background-image: url('../../assets/images/pic1.jpg');
    height: 409px;
    width: calc(100% / 2.05);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}
.containerTimer {
    @include flex_box_custom(center, center, 5px);
}
.title {
    color: hsl(108, 100%, 50%);
    text-shadow: 2px 2px 8px rgb(224, 122, 5);
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 135px;
    font-weight: 600;
}
.boxBtn {
    text-align: center;
    margin-top: 20px;
}
