@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';
.container {
    margin-top: 0;
    .title {
        font-weight: 400;
        color: $fourth_color;
        text-align: center;
    }
    .des {
        color: $third_color;
        font-weight: 300;
        text-align: center;
    }
    .boxBtn {
        @include flex_box_custom(center, center, 0);
    }
    .boxImage {
        @include flex_box_custom(center, center, 0);
    }
    .pic {
        border-radius: 5px;
    }
}
