.slick-arrow {
    width: 35px;
    height: 35px;
}
.slick-prev {
    fill: black;
    stroke: black;
    left: 0;
    z-index: 9999;
}
.slick-next {
    stroke: black;
    color: black;
    right: 0px;
    z-index: 9999;
    &:hover {
        color: black;
    }
}
