@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';
.container {
    margin-top: 20px;
    .labelInput {
        font-size: 14px;
        color: $fourth-color;
        margin-bottom: 5px;
    }
    .boxInput {
        width: 90%;
        position: relative;
        margin-bottom: 10px;

        input {
            width: 100%;
            border: 1px solid #e1e1e1;
            padding: 10px 40px 10px 10px;
            border-radius: 5px;
        }
        .boxIcon {
            position: absolute;
            right: -50px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            padding: 5px;
            background-color: white;
            border-radius: 4px;
        }
    }
}
