@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';
.container {
    margin-top: 20px;
    .labelInput {
        font-size: 14px;
        color: $fourth-color;
        margin-bottom: 5px;
        padding-top: 10px;
    }
    .boxInput {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 5px;
        input {
            width: 100%;
            border: 1px solid gray;
            padding: 10px 0px 10px 10px;
            border-radius: 5px;
            box-sizing: border-box;

            // ẩn con mắt mặc định của trình duyệt
            &::-webkit-credentials-auto-fill-button,
            &::-webkit-caps-lock-indicator,
            &::-webkit-reveal-password-button {
                display: none;
            }
        }
        .boxIcon {
            z-index: 1;
            border: 0.01px solid gray;
            background-color: rgb(9, 228, 235);
            position: absolute;
            right: 0px;
            top: 0;
            height: 84%;
            transform: none;
            cursor: pointer;
            padding: 0 15px;
            border-radius: 0 5px 5px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2px;
            box-shadow: -2px 0 5px rgba(255, 255, 255, 0.8);
        }
        .errMes {
            position: absolute;
            bottom: -15px;
            left: 0;
            font-size: 12px;
            color: red;
            white-space: nowrap;
        }
    }
}
