@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';
.container {
    @include flex_box_custom(center, center, 0px);
    background-image: url(../../assets/images/banner.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content {
    @include flex_box_custom(center, center, 10px);
    flex-direction: column;
    color: white;
    padding: 0 16px;
    text-align: center;
}
.title {
    font-weight: 600;
    margin: 18px;
}
.description {
    font-weight: 400;
    margin-bottom: 25px;
}
