@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';
.container {
    @include flex_box_custom(center, center, 0px);
    background-image: url(../../assets/images/banner.jpg);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    @include flex_box_custom(center, center, 10px);
    flex-direction: column;
    color: white;
}
.title {
    font-size: 50px;
    font-weight: 600;
    margin: 18px;
}
.description {
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 25px;
}
